#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60vw;
  min-width: 60vw;
}

.logRow {
  color: black;
}

.Information {
  background-color: wheat;
}

.table-striped > tbody > tr:nth-child(odd).Information {
  background-color: rgba(245, 222, 179, 0.7);
}

.Error {
  background-color: salmon;
}

.table-striped > tbody > tr:nth-child(odd).Error {
  background-color: rgba(250, 128, 114, 0.7);
}

.table {
  margin-top: 5px;
}

.tableCheckbox {
  margin-left: 1rem !important;
}
