#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logRow {
  color: black;
}

.Information {
  background-color: wheat;
}

.Error {
  background-color: salmon;
}
